a {
	color: #fff;
	text-decoration: none
}
a:hover {
	text-decoration: none;
}
body {
	font: 14px/1.6 "Microsoft Yahei";
	color: #fff;
	background: url(../images/bg.jpg) no-repeat center top;
}
ul li {
	list-style: none
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
*+height:1%;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*+html .clearfix {
	zoom: 1;
} /* IE7 */
.fL {
	float: left !important;
}
.fR {
	float: right !important;
}
img { 
	vertical-align: top;
	/* width: 100%; */
}
/*---------------index--------------*/
body {
	min-width: 1200px;
}
body,#container {
	height: 100vh;
}
#container {
	margin: 0 auto;
	max-width: 1920px;
	position: relative;
}
.header {
	width: 100%;
	padding: 43px 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	box-sizing: border-box;
}
.header .logo {
	width: 37.5%;
	padding-left: 120px;
	box-sizing: border-box;
	float: left;
}
.header .navi {
	width: 62.5%;
	margin-top: 9px;
	padding-right: 120px;
	box-sizing: border-box;
	float: left;
	display:flex;
	display: -webkit-flex;
	justify-content:space-between;
}
.header .navi > li {
	position: relative;
}
.header .navi > li > a {
	display: block;
	overflow: hidden;
	zoom: 1;
}
.header .navi > li > a img {
		width: 24px;
	margin: 4px 20px 0 0;
	display: block;
	float: left;
}
.header .navi > li > a .txt {
	display: block;
	float: left;
	color: #a1a1a1;
	font-size: 14px;
}
.header .navi > li > a .txt span {
	margin-bottom: 3px;
	display: block;
	color: #323232;
	font-size: 20px;
}
.header .navi > li:hover > a .txt,
.header .navi > li:hover > a .txt span {
	color: #a37c3c;
}
.header .navi .jsBox {
	margin-left: -269px;
	padding-top: 25px;
	width: 578px;
	position: absolute;
	left: 50%;
	top: 100%;
	box-sizing: border-box;
	display: none;
}
.header .navi > li:hover .jsBox {
	display: block;
}
.header .navi .jsBox .arrow {
	margin-left: -9px;
	position: absolute;
	left: 50%;
	top: 17px;
}
.header .navi .jsBox ul {
	padding: 25px 25px 16px;
	border-radius: 5px;
	border: 2px solid #A37C3C;
	background: #fff;
}
.header .navi .jsBox li {
	margin-bottom: 10px;
	overflow: hidden;
	zoom: 1;
	color: #313131;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}
.header .navi .jsBox li .ms {
	margin-right: 11px;
	width: 72px;
	display: block;
	float: left;
	border: 1px solid #C8C8C8;
	background: #F0F0F0;
}
.header .navi .jsBox li img {
	margin: 14px 10px 0 0;
	display: block;
	float: left;
}
.header .navi .jsBox li .url {
	width: 253px;
	float: left;
	display: block;
	box-sizing: border-box;
	border: 1px solid #C8C8C8;
	background: #F0F0F0;
}
.header .navi .jsBox li a {
	display: block;
	float: right;
	width: 136px;
	color: #fff;
	box-sizing: border-box;
	border: 1px solid #A37C3C;
	background: #A37C3C;
}
.header .navi .jsBox li a:hover {
	border: 1px solid #d4a14e;
	background: #d4a14e;
}
.header .navi .jsBox02 {
	margin-left: -96px;
	padding-top: 23px;
	width: 198px;
	position: absolute;
	left: 50%;
	top: 100%;
	box-sizing: border-box;
	display: none;
}
.header .navi > li:hover .jsBox02 {
	display: block;
}
.header .navi .jsBox02 .arrow {
	margin-left: -9px;
	position: absolute;
	left: 50%;
	top: 15px;
}
.header .navi .jsBox02 ul {
	padding: 38px 0 12px 40px;
	border-radius: 5px;
	border: 2px solid #a37c3c;
	background: #fff;
}
.header .navi .jsBox02 li {
	margin-bottom: 26px;
}
.header .navi .jsBox02 li a {
	color: #282828;
	font-size: 14px;
}
.header .navi .jsBox02 li a:hover {
	color: #a37c3c;
}
.header .navi .jsBox02 li a img {
	margin: -2px 8px 0 0;
	display: inline-block;
	vertical-align: middle;
}
#main {
	padding-top: 165px;
	height: 100%;
	box-sizing: border-box;
}
#main .lBox {
	width: 37.5%;
	height: 100%;
	float: left;
	position: relative;
	z-index: 10;
}
#main .lBox .ttl {
	padding: 0 0 280px 120px;
	height: 100%;
	box-sizing: border-box;
}
#main .lBox .ttl span {
	height: 100%;
	position: relative;
	display: block;
}
#main .lBox .ttl img {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
#main .lBox .txtBox {
	padding: 0 120px;
	width: 100%;
	height: 280px;
	position: absolute;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	background: #A37C3C;
}
#main .lBox .txtBox p {
	padding: 0 130px 12px 120px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	color: #f8e4c3;
	font-size: 14px;
	line-height: 2.15;
	text-align: justify;
	text-justify: inter-ideograph;
	box-sizing: border-box;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
#main .lBox .txtBox p span {
	margin-bottom: 12px;
	display: block;
	color: #fff;
	font-size: 30px;
}
#main .lBox .txtBox .img01 {
	position: absolute;
	right: -73px;
	top: -90px;
	z-index: 1;
}
#main .lBox .txtBox .img02 {
	position: absolute;
	right: -160px;
	top: 0;
}
#main .rBox {
	padding-right: 120px;
	width: 62.5%;
	height: 100%;
	float: right;
	position: relative;
	box-sizing: border-box;
}
#main .rBox .photo {
	width: 100%;
	height: 100%;
	background: url(../images/photo.jpg) no-repeat center center;
	background-size: cover;
}
#main .rBox .copyright {
	position: absolute;
	right: 53px;
	bottom: 58px;
}

@media all and (max-width: 1620px) {
	.header {
		padding: 43px 0;
	}
	.header .logo {
		padding-left: 60px;
	}
	.header .navi {
		padding-right: 60px;
	}
	#main .lBox .ttl {
		padding-left: 60px;
	}
	#main .lBox .ttl span img {
		max-width: 80%;
		max-height: 80%;
		width: auto;
		height: auto;
	}
	#main .lBox .txtBox {
		padding: 0 60px;
	}
	#main .lBox .txtBox p {
		padding: 0 90px 0 60px;
	}
	#main .rBox {
		padding-right: 60px;
	}
	#main .rBox .copyright {
		right: 23px;
	}
}
@media all and (max-width: 1320px) {
	.header {
		padding: 30px 0;
	}
	.header .logo {
		padding-left: 40px;
	}
	.header .navi {
		padding-right: 40px;
	}
	.header .navi > li > a .txt {
		font-size: 13px;
	}
	#main {
		padding-top: 130px;
	}
	#main .lBox .ttl {
		padding-left: 40px;
	}
	#main .lBox .ttl span img {
		max-width: 70%;
		max-height: 70%;
	}
	#main .lBox .txtBox {
		padding: 0 40px;
	}
	#main .lBox .txtBox p {
		padding: 0 90px 0 40px;
		font-size: 13px;
	}
	#main .lBox .txtBox p span {
		font-size: 28px;
	}
	#main .rBox {
		padding-right: 40px;
	}
	#main .rBox .copyright {
		right: 13px;
	}
}
